#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

nav {
  width: 100%;
  border-bottom: 1px white solid;
  position: fixed;
  top: 0px;
  background-color: #242424;
  z-index: 9;
}

nav a {
  float: inline-start;
  padding: 2%;
  width: 15%;
}

.dropdown {
  display: inline-block;
  margin: 2%;
}

.dropbotun {
  background-color: #3498DB;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  cursor: pointer;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mainContent {
  border: 1px white solid;
  border-radius: 2%;
  padding: 5%;
  margin: 5%;
  margin-top: 10%;
}

.intro {
  border: 1px #080808 solid;
  background-color: #151515;
  margin: 5%;
}

.dodaj {
  color: white;
  padding: 15px 32px;
  font-size: 18px;
  font-weight: bold;
}

.dodaj span {
  margin-left: 10px;
}

.deleteElement {
  position: relative;
  background-color: red;
  float: right;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}